{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>홍익한영. 어서오세요. 반갑습니다.</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{% url 'wps:wps_index' %}">
          <img class='navbar-brand' width='60%' src="{% static 'images/brand-logo.png' %}" alt="iazelf">
          <span class="navbar-text">반갑습니다!</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'reward:reward_main' %}">빨리 끝났으면 좋겠다.</a></li>
        <li><a href="{% url 'wps:wps_list' %}">수강생 관리</a></li>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'member:login' %}?next={{ request.path }}">로그인</a></li>
        <li><a href="{% url 'member:signup' %}?next={{request.path}}">회원가입</a></li>
        {% else %}
        <li><a href="{% url 'member:logout' %}?next={{request.path}}">로그아웃</a></li>
        {% endif %}

      </ul>

    </div>
  </nav>

{% block content %}

{% endblock %}
</body>
</html>
